* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;

}

.information {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    background-image: url(./assets/background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.conteudo {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}